

.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0 !important
}

html { 
    background-color:#f5f5f5; 
  }
body{
    background-color: transparent;
}


#container {
    min-height:100%;
    z-index: 10;
    }
    
#top_div {
    height:100%;
    width:100%;
    background-color:#E6E6E6;
    margin:auto;
    text-align:center;
    color: white;
    background: url("s.97bc1c9dbe9e.jpg") no-repeat center center fixed; 
    z-index: -1;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#top_div2 {
    height:35%;
    width:100%;
    margin:auto;
    text-align:center;
    color: #5B6AD2;
    font-size: 45px;
    font-family: font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    z-index: 1;
}
  }
    
#bottom_div2 {
    height:65%;
    width:100%;
    background-color:whitesmoke;
    margin:auto;
    text-align:center;
    z-index: 1;

    }

body, html, #container {
        height: 100%;
      }